* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*UTILITY*/
/*float*/
.clearfix {
    content: '';
    display: table;
    clear: both;
}
.fl-lf {
    float: left;
}
.fl-rg {
    float: right;
}
/*dimensioni e spaziatura*/
.full-w {
    width: 100vw;
}
.pd-rg30 {
    padding-right: 35px;
}
.mrg-top30 {
    margin-top: 30px;
}

.fn-sz {
    font-size: 14px;
}
/*button*/
.button {
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px 20px;
}

/*HEADER*/
header {
    height: 70px;
}
.left-side, .right-side{
    padding: 0 15px;
    line-height: 70px;
}
header .header-logo, .header-list, .header-button {
    display: inline-block;
}

header .header-logo img {
    vertical-align: middle;
}

header .header-list li {
    list-style: none;
    display: inline-block;
}
header .header-list li a {
    text-decoration: none;
    color: black;
}
/*MAIN*/
/*hero*/
main .hero {
    background-color: #b4d0e7;
}
 main .hero .hero-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 60px;
}
main .hero-title, .hero-content {
    width: 100%;
}
h1 {
    font-size: 69px;
}

main .hero-content .hero-write {
    width: 40%;
    padding-right: 50px;
}
main .hero-content .hero-write > .fn-sz {
    margin-top: 10px;
}
main .hero-content .hero-write > i {
    font-size: 40px;
}

main .hero-content .hero-image {
    width: 60%;
}
main .hero-content .hero-image img {
    max-width: 100%;
}
/*BRAND-CONTAINER*/
/*BANNER*/
/*QUESTIONS*/
/*FOOTER*/