* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/*UTILITY*/
/*float*/
.clearfix {
    content: '';
    display: table;
    clear: both;
}
.fl-lf {
    float: left;
}
.fl-rg {
    float: right;
}
/*dimensioni e spaziatura*/
.full-w {
    width: 100vw;
}
.wdt100 {
    width: 100%;
}
.pd-rg30 {
    padding-right: 35px;
}
.mrg-top30 {
    margin-top: 30px;
}
.mrg-top15 {
    margin-top: 20px;
}
.mrg-wdt {
    width: 70%;
    margin: 0 auto;
}

.fn-sz {
    font-size: 14px;
}
h2 {
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3 {
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h4 {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*Style*/
.brd {
    border: 1px solid lightgrey;
}
/*button*/
.button {
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px 20px;
}
/*colonne*/
.colonne {
    width: 30%;
}
.colonna-centrale {
    width: 30%;
    margin: 0 5%;
}
/*HEADER*/
header {
    height: 70px;
}
.left-side, .right-side{
    padding: 0 15px;
    line-height: 70px;
}
header .header-logo, .header-list, .header-button {
    display: inline-block;
}

header .header-logo img {
    vertical-align: middle;
}

header .header-list li {
    list-style: none;
    display: inline-block;
}
header .header-list li a {
    text-decoration: none;
    color: black;
}
/*MAIN*/
/*hero*/
main .hero {
    background-color: #b4d0e7;
}
 main .hero .hero-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 60px;
}

h1 {
    font-size: 65px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main .hero-content .hero-write {
    width: 40%;
    padding-right: 50px;
}
main .hero-content .hero-write > .fn-sz {
    margin-top: 10px;
}
main .hero-content .hero-write > i {
    font-size: 40px;
}

main .hero-content .hero-image {
    width: 60%;
}
main .hero-content .hero-image img {
    max-width: 100%;
}

/*colums*/
main .colums-container {
    margin-top: 180px;
    height: 1000px;
}
main .colums-container .colonne, main .colums-container .colonna-centrale {
    height: 860px;
}
.colums .col-type {
    padding: 10px;
    text-align: center;
}
.colums .col-content {
    padding: 20px;
}
.colums .col-content .light-text {
    color:gray;
    margin-top: 10px;
}
.colums .col-content .col-line {
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}
.colums .col-content .list-title {
    margin-top: 50px;
}
.colums .col-content .col-list li {
    list-style: none;
    margin-top: 15px;
}
.colums .col-content .col-list li .fa-check {
    color: #0061ff;
}

/*ENTERPRISE*/
main .enterprise {
    margin-top: 35px;
}
main .enterprise .enterprise-title {
    padding: 10px;
    text-align: center;
}
main .enterprise .enterprise-content {
    padding: 20px;
}
main .enterprise .enterprise-content .content-left {
    width: 65%;
}
main .enterprise .enterprise-content .content-right {
    width: 35%;
    margin-top: 10px;
}
main .enterprise .enterprise-content .content-right .button {
    padding: 5px 78px;
}
/*DB PARTNERS*/
main .partners {
    margin-top: 100px;
}
main .partners .partners-content .partners-image {
    width: 50%;
}
main .partners .partners-content .partners-writes {
    width: 50%;
    padding: 30px 5px 0 40px;
}
main .partners .partners-content .partners-writes .button {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/*ACTIVITY*/
main .activity {
    margin-top: 100px;
}










/*BRAND-CONTAINER*/
/*BANNER*/
/*QUESTIONS*/
/*FOOTER*/