* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/*UTILITY*/
/*float*/
.clearfix {
    content: '';
    display: table;
    clear: both;
}
.fl-lf {
    float: left;
}
.fl-rg {
    float: right;
}
/*dimensioni e spaziatura*/
.full-w {
    width: 100vw;
}
.wdt100 {
    width: 100%;
}
.pd-rg30 {
    padding-right: 35px;
}
.mrg-top30 {
    margin-top: 30px;
}
.mrg-top15 {
    margin-top: 20px;
}
.mrg-top60 {
    margin-top: 60px;
}
.mrg-wdt {
    width: 70%;
    margin: 0 auto;
}

.fn-sz {
    font-size: 14px;
}
h1 {
    font-size: 65px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2 {
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3 {
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h4 {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*Style*/
.brd {
    border: 1px solid lightgrey;
}
.inv {
    filter: invert(1);
}
.dsp {
    display: inline-block;
}
.lst-st {
    list-style: none;
}
.tx-dec {
    text-decoration: none;
}
.clr-bl {
    color: black;
}
/*button*/
.button {
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px 20px;
}
/*colonne*/
.colonne {
    width: 30%;
}
.colonna-centrale {
    width: 30%;
    margin: 0 5%;
}

/*HEADER*/
header {
    height: 70px;
}
header .left-side, .right-side{
    padding: 0 15px;
    line-height: 70px;
}
header .header-logo img {
    vertical-align: middle;
}
/*MAIN*/
/*hero*/
main .hero {
    background-color: #b4d0e7;
}
 main .hero .hero-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 60px;
}
main .hero-content .hero-write {
    width: 40%;
    padding-right: 50px;
}
main .hero-content .hero-write > .fn-sz {
    margin-top: 10px;
}
main .hero-content .hero-write > i {
    font-size: 40px;
}
main .hero-content .hero-image {
    width: 60%;
}

/*colums*/
main .colums-container {
    margin-top: 180px;
    min-height: 1000px;
}
main .colums-container .colonne, main .colums-container .colonna-centrale {
    min-height: 860px;
}
.colums .col-type {
    padding: 10px;
    text-align: center;
}
.colums .col-content {
    padding: 20px;
}
.colums .col-content .light-text {
    color:gray;
    margin-top: 10px;
}
.colums .col-content .col-line {
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}
.colums .col-content .list-title {
    margin-top: 50px;
}
.colums .col-content .col-list li {
    margin-top: 15px;
}
.colums .col-content .col-list li .fa-check {
    color: #0061ff;
}

/*ENTERPRISE*/
main .enterprise {
    margin-top: 35px;
}
main .enterprise .enterprise-title {
    padding: 10px;
    text-align: center;
}
main .enterprise .enterprise-content {
    padding: 20px;
}
main .enterprise .enterprise-content .content-left {
    width: 65%;
}
main .enterprise .enterprise-content .content-right {
    width: 35%;
    margin-top: 10px;
}
main .enterprise .enterprise-content .content-right .button {
    padding: 5px 78px;
}

/*DB PARTNERS*/
main .partners {
    margin-top: 100px;
}
main .partners .partners-content .partners-image {
    width: 50%;
}
main .partners .partners-content .partners-writes {
    width: 50%;
    padding: 30px 5px 0 40px;
}
main .partners .partners-content .partners-writes .button {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/*ACTIVITY*/
main .activity {
    margin-top: 100px;
}
main .activity .activity-colums div:nth-child(5) {
    margin-top: 60px;
}

/*titolo e link*/
.info-team {
    margin-top: 180px;
}

/*BRAND-CONTAINER*/
main .brand-container {
    height: 400px;
}
main .brand-container .center {
    width: 40%;
    height: 100%;
    padding: 30px;
    background-color: #f5f5f5;
}
main .brand-container .center img {
    width: 120px;
}
main .brand-container .center .line {
    width: 60px;
}
main .brand-container .colonne {
    height: 100%;
}
main .brand-container .colonne .box {
    width: 50%;
    height: 50%;
    position: relative;
}
/*box-color*/
main .brand-container .colonne .box-1{
    background-color: #a2d39b;
}
main .brand-container .colonne .box-2 {
    background-color: #61082b;
}
main .brand-container .colonne .box-3 {
    background-color: #0093ce;
}
main .brand-container .colonne .box-4 {
    background-color: #ff1c1c;
}
main .brand-container .colonne .box-5 {
    background-color: #d5001f;
}
main .brand-container .colonne .box-6 {
    background-color: #b4d0e7;
}
main .brand-container .colonne .box-7 {
    background-color: #0d2481;
}
main .brand-container .colonne .box-8 {
    background-color: #ffd830;
}

main .brand-container .colonne .box .box-image {
    max-width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

/*BANNER*/
main .banner {
    background-color: #b4d0e7;
}
main .banner .baner-contain {
    padding: 100px 0;
}
main .banner .banner-title, main .banner .banner-button{
    width: 50%;
} 
main .banner .banner-title h2 {
    color: #61082b;
}
main .banner .banner-button .button {
    background-color: white;
    color: black; 
    padding: 8px 50px;
}

/*QUESTIONS*/
main .questions {
    margin-top: 120px;
}
main .questions .questions-content hr {
    color: gray;
}
main .questions .questions-content .row {
    border-top: 1px solid lightgrey;
}
main .questions .questions-content .row .fl-lf {
    width: 90%;
    line-height: 90px;
}
main .questions .questions-content .row .fl-rg {
    width: 10%;
    line-height: 90px;
}
main .questions .questions-content .row:last-child {
    border-bottom: 1px solid lightgrey;
}

/*FOOTER*/
footer {
    margin-top: 150px;
    background-color: #000000;
    color: white;
}
footer .footer-contain {
    width: 80%;
    margin: 0 auto;
}
footer .footer-contain .footer-colums {
    padding: 80px 0;
}
footer .footer-contain .footer-col {
    width: 20%;
}
footer .footer-contain .footer-col h3 {
    font-size: 20px;
}
footer .footer-contain .footer-col ul li {
    margin-top: 5px;
}
footer .footer-contain .footer-col ul li a {
    color: white;
}
footer .footer-contain .lingua {
    color: grey;
    width: 100px;
    padding: 50px 0;
    border-top: 0.4px solid gray;
}